<style lang="less">
.pages_login {
  width: 100%;
  height: 100vh;
  background: rgba(1, 1, 1, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  .main {
    border-radius: 0.5rem;
    background: #fff;
    height: 100vw;
    max-height: 36rem;
    margin: 9rem 8vw;
    .login {
      width: 100%;
      height: 100vw;
      background: url("../assets/bg-phone-bind.png") no-repeat center center;
      background-size: 100%;
      .logo {
        width: 6rem;
        height: 6rem;
        padding: 0 1.25rem;
        margin: 0 auto;
        img {
          margin-top: 1rem;
          border-radius: 50%;
          width: 6rem;
          height: 6rem;
        }
      }
      .formcenter {
        margin: 2rem 0 0;
        padding: 0 1.25rem;
        p {
          font-size: 0.8rem;
        }
        .section_title {
          height: 2.5rem;
          line-height: 2.5rem;
          margin: 1.5rem 0;
          padding: 0 0.75rem;
          background: #f4f5f6;
          border-radius: 0.5rem;
          color: #666666;

          p {
            font-size: 0.8rem;
          }
          input {
            margin-left: 0.625rem;
            width: 70%;
            background: none;
            color: #222;
            border: none;
            font-size: 1.5rem;
            -webkit-user-select: text;
            -user-select: text;
          }
        }
      }
      .footer {
        margin: 0 auto;
        padding: 0 3rem;
        button {
          width: 100%;
          height: 2.5rem;
          margin: 0 auto;
          background: #d95125;
          color: #fff;
          text-align: center;
          border-radius: 0.3125rem;
        }
      }
    }
  }
}
</style>
<template>
  <div class="pages_login"
       v-if="Shrapnel">
    <div class="main">
      <div class="login">
        <div class="logo">
          <img :src="avatarUrl"
               v-if="avatarUrl" />
          <img v-else
               src="../assets/user_img.png" />
        </div>

        <div class="formcenter ">
          <p>欢迎您加入乐客平台，为了获取更优质的服务，请您先绑定手机号</p>
          <div class="section_title flex">
            <span>+86</span>
            <input type="text"
                   v-model="phone"
                   @blur="phoneCheck"
                   ref="inputPhone"
                   maxlength="11" />
          </div>
          <div class="section_title flex">
            <input type="text"
                   v-model="code"
                   ref="inputCodes"
                   maxlength="6" />
            <p @click="sendtap">{{ getmsg }}</p>
          </div>
        </div>
        <div class="footer">
          <button @click="formSubmit">立即登录</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    Shrapnel: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      getmsg: "获取验证码",
      msgPhone: false,
      msgCode: true,
      timer: true,
      code: "",
      phone: null,
      avatarUrl: "",
    };
  },
  mounted () {
    // this.getAvartar()
  },
  methods: {
    getAvartar () {
      let self = this;
      let urls = "wechat/user/wxInfoForLogin";
      window.Global.get(urls, null, res => {
        if (res.data.success) {
          self.avatarUrl = res.data.result.avatarUrl;
        } else {
          self.$alertBox({
            showMask: true,
            content: `<p>` + res.data.message + `</p>`
          });
        }
      });
    },
    phoneCheck () {
      if (/^1[3456789]\d{9}$/.test(this.phone)) {
        this.msgPhone = true;
      } else {
        this.msgPhone = false;
      }
    },
    sendtap (e) {
      // e.preventDefault();
      // 收起下拉键盘
      this.$refs.inputPhone.blur();
      this.$refs.inputCodes.focus();
      console.log(this.timer, this.phone, this.msgPhone);
      if (this.timer && this.msgPhone) {
        this.loginCode(this.phone);
      } else {
        // this.$alertBox({
        //   showMask: true,
        //   content: `<p>验证码已发送</p>`
        // });
      }
    },
    timeHandle () {
      if (this.timer && this.msgPhone) {
        this.timer = false;
        let that = this;
        let time = 60;
        let inter = setInterval(function () {
          (that.getmsg = time + "s"), (that.msgCode = false);
          time--;
          if (time < 0) {
            clearInterval(inter);
            (that.getmsg = "获取验证码"), (that.timer = true);
          }
        }, 1000);
      } else {
        console.log(this.timer);
      }
    },
    // 后台获取验证码
    loginCode () {
      let self = this;
      let urls = "wechat/user/sendSms?phone=" + this.phone;
      window.Global.post(
        urls,
        null,
        res => {
          if (res.data.success) {
            self.timeHandle();
          }
          self.$alertBox({
            showMask: true,
            content: `<p>验证码已发送</p>`
          });
          self.$alertBox({
            showMask: true,
            content: `<p>` + res.data.message + `</p>`
          });
        },
        true
      );
    },
    // 提交
    formSubmit () {
      this.$router.push("/address");
      this.Shrapnel = false;
      //  this.$router.push({name: "sign"})
      // this.$refs.inputPhone.blur();
      // this.$refs.inputCodes.blur();
      // let self = this;
      // if (this.msgPhone == true && this.code != "") {
      //   let urls =
      //     "wechat/user/wxLogin?phone=" + this.phone + "&code=" + this.code;
      //   window.Global.post(urls, null, res => {
      //     self.$alertBox({
      //       showMask: true,
      //       content: `<p>` + res.data.message + `</p>`
      //     });
      //     console.log("ewrrrrrrrr");
      //     if (res.data.success) {
      //       // 收起下拉键盘
      //       window.Global.setLocalStorage("token", res.data.result.token);
      //       // self.$emit("loginwin", false);
      //       self.$router.push("/sign");
      //     }
      //   });
      // } else {
      //   self.$alertBox({
      //     showMask: true,
      //     content: `<p>手机号或验证码不正确</p>`
      //   });
      // }
    }
  },
  watch: {
    code: function (value) {
      if (value.length > 6) {
        this.$alertBox({
          showMask: true,
          content: `<p>验证码不正确</p>`
        });
      }
    }
  }
};
</script>
