<template>
  <div>
    
    <ul class="tabs-part">
      <li
        v-for="(item, index) in tabList"
        :key="index"
        :class="{ active: currentSort == index }"
        @click="active(index)"
      >
        <router-link :to="item.url" tag="li">
          <div class="pic_check">
            <img :src="item.selectPic" />
          </div>
          <div class="pic_nocheck">
            <img :src="item.pic" />
          </div>
          <p>{{ item.name }}</p>
        </router-link>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  data() {
    return {
       currentSort: 0,
      //  activeClass:1,
      tabList: [
        {
          name: "通讯录",
          pic: "addresss",
          selectPic: "addressa",
          url: "address"
        },
        {
          name: "消息",
          pic: "message",
          selectPic: "messages",
          url: "message"
        },
        {
          name: "加入社群",
          pic: "message",
          selectPic: "messages",
          url: "flock"
        },
        {
          name: "我的",
          pic: "main",
          selectPic: "maina",
          url: "main"
        }
      ],
     
    };
  },
  activated() {},
  created() {},
   mounted() {
      this.tabList.map(item => {
      item.pic = this.srcimg(item.pic);
      item.selectPic= this.srcimg(item.selectPic);
    });
   },
  methods: {
    // 图片
    srcimg(img) {
      return require(`../assets/${img}.png`);
    },
    // 切换样式
    active(index) {
      this.currentSort = index;
    }
    //     getItme(index) {
    //   this.activeClass = index;  // 把当前点击元素的index，赋值给activeClass
    // },

    // tabChange(index){
    //     this.tabIndex = index;
    //     this.$router.push({name: this.tabList[index].url})
    // },
  }
};
</script>
<style scoped lang="less">
.tabs-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #fff;
    position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  li {
    position: relative;
    padding: 0.2rem 0;
    text-align: center;
    font-size: 2vw;
    color: #666666;
    &.router-link-active {
      p {
        color: #f75362;
        font-size: 2vw;
      }

      .pic_check {
        display: block;
      }
      .pic_nocheck {
        display: none;
      }
    }

    .pic_nocheck {
      display: block;
    }
    .pic_check {
      display: none;
    }
    .message_number {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1rem;
      line-height: 2.7rem;
      position: absolute;
      border-radius: 50%;
      background: #ff0000;
      text-align: center;
      top: -1%;
      left: 50%;
      color: #ffffff;
      font-weight: bold;
    }
    img {
      width: 8vw;
      height: 8vw;
    }
  }

  .iconfont {
    font-size: 1rem;
  }
}

.indextab_empty {
  background: #eee;
  //height: 7.85rem;
  height: 5.85rem;
}
.indextab_wrap {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 999;
}
</style>
