<style lang='less'>
.page_wallet {
  background: #eee;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  .wallettop {
    height: 13vw;
  }
  .walletheader {
    height: 10vw;
    line-height: 10vw;
    display: flex;
    justify-content: flex-end;
    h3 {
      font-size: 4vw;
    }
    img {
      width: 5vw;
      height: 5vw;
      margin-right: 2vw;
      margin-top: 2.5vw;
    }
  }
  .wallet_main {
    margin: 3vw 3vw;
    border-radius: 2vw;
    padding: 5vw 4vw;
    background: #fff;
    height: 23vw;

    .briefa {
      width: 100%;
      // margin: 0 3vw;
      .genre {
        margin-top: 2vw;
        span,
        p {
          font-size: 3vw;
        }
        i {
          font-size: 3vw;
          color: red;
        }
        em {
          font-size: 3vw;
        }
      }
    }
  }
}
</style>
<template>
  <div class='page_wallet'>
    <div class="wallettop">
      <headera :title="title"
               :typeIndex='3'></headera>
    </div>
    <div class="walletheader"
         @click="withdraw">
      <h3>申请提现</h3><img src="../../assets/youjiantou.png">
    </div>
    <div class="wallet_main"
         v-for="(item,index) in briefalist"
         :key="index">
      <div class="briefa">
        <div class="genre flex-sb">
          <div>
            <span>类型:</span><span>{{item.type}}</span>
          </div>
          <span>{{item.time}}</span>
        </div>
        <div class="genre flex-sb">
          <div class='flex'>
            <span>金额:</span>
            <em :style='item.sum.split("")[0]=="+"?"color:#26d944;":"color:red;"'>{{item.sum}}元</em>
          </div>
        </div>
        <div class="genre flex-sb">
          <div>
            <span>处理状态:</span><i>{{item.state}}</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import headera from "@/components/header";
export default {
  components: {
    headera,
  },
  data () {
    return {
      title: '我的钱包',
      briefalist: [
        {
          type: "提现",
          sum: "+11",
          state: "待打款",
          time: '2019/07/12 20:15'
        },
        {
          type: "提现",
          sum: "-11",
          state: "待打款",
          time: '2019/07/12 20:15'
        }
      ]
    }
  },
  mounted () { },
  methods: {
    withdraw () {
      this.$router.push('/main_withdraw')
    }
  },
}
</script>
