<style lang='less'>
.main_personage {
  .personagetop {
    height: 13vw;
  }
}
</style>
<template>
  <div class='main_personage'>
    <div class="personagetop">
      <headera :title="title"
               :typeIndex='3'></headera>
    </div>
    <reminder :visible=true></reminder>
  </div>
</template>
<script>
import headera from "@/components/header";
import reminder from "@/components/reminder";
export default {
  components: {
    headera,
    reminder
  },
  data () {
    return { 
      title: '创业者社群'
       }
  },
  mounted () { },
  methods: {},
}
</script>
