<style lang='less'>
.Views_main {
  background: #eee;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  .maintop {
    margin: 5vw 3vw;

    .personage {
      background: #fff;
      width: 100%;
      height: 30vw;
      border-radius: 1vw;
      .personleft {
        img {
          width: 15vw;
          height: 15vw;
          border-radius: 50%;
          margin: 7vw 3vw;
        }
      }

      .personright {
        margin-top: 8vw;
        width: 53%;
        p {
          font-size: 4vw;
          margin-bottom: 2vw;
        }
        span {
          font-size: 3vw;
        }
        i {
          font-size: 3vw;
        }
      }
      .message {
        margin: 12vw 0;
        img {
          width: 5vw;
          height: 5vw;
        }
        p {
          font-size: 4vw;
        }
      }
    }
    .subject {
      width: 100%;
      height: 75vw;
      background: #fff;
      border-radius: 1vw;
      margin-top: 5vw;
      .subjectlist {
        height: 15vw;
        border-bottom: 1px solid #eee;
        margin: 0 4vw;
        line-height: 15vw;
        p {
          font-size: 4vw;
        }
        img {
          width: 5vw;
          height: 5vw;
          margin: 5vw 0;
        }
      }
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
</style>
<template>
  <div class="Views_main">
    <div class="maintop">
      <div class="personage flex"
           @click="particulars">
        <div class="personleft">
          <img src="../../assets/default.jpg">
        </div>

        <div class="personright">

          <p>朱彩明</p>
          <div class='flex'><span>我的金额:</span><i>0元</i></div>
        </div>
        <div class="message flex">
          <p>修改信息</p>
          <img src="../../assets/youjiantou.png">
        </div>
      </div>
      <div class="subject">
        <div class="subjectlist flex-sb"
             v-for="(item,index) in subjectlist"
             :key="index"
             @click="secondary(index)">
          <p>{{item.name}}</p><img src="../../assets/youjiantou.png">
        </div>

      </div>
    </div>
    <div class="footer">
      <tab></tab>
    </div>
  </div>
</template>
<script>
import Vue from 'vue';
import { Tab, Tabs } from 'vant';
Vue.use(Tab).use(Tabs);
import tab from "@/components/tab";
export default {
  components: {
    tab
  },

  data () {
    return {
        title: '',
      subjectlist: [
        {
          name: '我的信息'
        },
        {
          name: '系统消息'
        },
        {
          name: '我的钱包'
        },
        {
          name: '关于创业者社群'
        },
        {
          name: '专属客服'
        }

      ]
    }
  },
  mounted () { },
  methods: {
    particulars () {
      this.$router.push('/main_personagea')
    },
    secondary (index) {
      if (index == 0) {
        this.$router.push('/main_detail')
      } else if (index == 1) {
        this.$router.push('/main_news')
      } else if (index == 2) {
        this.$router.push('/main_wallet')
      } else if (index == 3) {
        this.$router.push('/main_start')
      } else if (index == 4) {
        this.$router.push('/main_exclusive')
      }
    }
  },
}
</script>
