<style lang='less'>
.page_secondary {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  .top {
    height: 13vw;
  }
  .main {
    .maintop {
      height: 13vw;
      line-height: 13vw;
      padding: 0 3vw;
      i {
        font-size: 4vw;
        margin-right: 3vw;
      }
      span {
        font-size: 4vw;
      }
      img {
        width: 5vw;
        height: 5vw;
        margin-top: 4vw;
      }
      p {
        font-size: 4vw;
      }
    }
    .seek {
      margin-top: 5vw;
      height: 35vw;
      border-bottom: 1px solid #ccc;
      padding: 0 2vw;
      img {
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
      }
      .texta {
        margin: 2vw 2vw;
      }
      .seek_right {
        margin-left: 3vw;

        p {
          color: #000;
        }
        i {
          margin-left: 1vw;
          color: #868686;
        }
        span {
          margin-top: 2vw;
          margin-right: 2vw;
          text-align: center;
          width: 20vw;
          height: 6vw;
          line-height: 6vw;
          display: block;
          background: #fde8ea;
          color: #fd2840;
        }
      }
    }
  }
}
</style>
<template>
  <div class="page_secondary">
    <div class="top">
      <headera :title="title"
               :typeIndex='1'></headera>
    </div>
    <div class="main">
      <div class="maintop flex-sb">
        <div class="flex">
          <div>
             <img src="../../assets/address.png">
          </div>
          <i>全国</i>
          <span @click="isshows">{{region[0]}} ▼</span>
          <van-popup v-model="isshow"
                     position="bottom">
            <van-area :value="valuel"
                      :area-list="area"
                      :columns-num="2"
                      @confirm="confirm" />
          </van-popup>
        </div>
        <div>
          <p @click="showPicker = true">{{Confirm[0]}} ▼</p>
          <van-popup v-model="showPicker"
                     position="bottom">
            <van-picker show-toolbar
            :value="value"
                        :columns="columns"
                        @cancel="showPicker = false"
                        @confirm="onConfirm" />
          </van-popup>
        </div>
      </div>
      <div class='seek'
           @click="particulars"
           v-for="(item,index) in seeklist"
           :key="index">
        <div class="flex">
          <img :src="avatarUrl"
               v-if="avatarUrl" />
          <img src="../../assets/default.jpg"
               alt="">
          <div class='seek_right'>
            <div class='flex'>
              <p>{{item.name}}</p><i>{{item.describe}}</i>
            </div>
            <div class='flex'>
              <span v-for="(outer,k) in item.lista"
                    :key="k">{{outer}}</span>
              <!-- <span>嘉兴市</span> -->
            </div>

          </div>
        </div>
        <p class='texta'> {{item.introduce}}</p>
      </div>
    </div>
  </div>
</template>
<script>
import headera from "@/components/header";
import { Picker, Popup, DropdownMenu, DropdownItem, Area } from "vant";
import area from "@/views/area";
export default {
  components: {
    headera,
    Picker,
    Popup,
    DropdownMenu,
    DropdownItem,
    Area
  },

  data () {
    return {
      valuel: '',
      showPicker: false,
      area: area,
      value: '',
      isshow: false,
      title: '通讯录',
      avatarUrl: "",
      region: [
        '全省'
      ],
      Confirm: [
        '全部'
      ],
      seeklist: [
        {
          name: "黄剑锋",
          describe: '嘉兴中企视图软件科技有限公司CEO',
          lista: ["电子商务", "嘉兴市"],
          introduce: "成立于2017年为中小型企业提供IT工具服务包含：1688商学院，“小吸盘”整个营销系统（官网，搜索引擎推广，智能名片）"
        },
        {
          name: "黄剑锋",
          describe: '嘉兴中企视图软件科技有限公司CEO',
          lista: ["电子商务", "嘉兴市"],
          introduce: "成立于2017年为中小型企业提供IT工具服务包含：1688商学院，“小吸盘”整个营销系统（官网，搜索引擎推广，智能名片）"
        },
        {
          name: "黄剑锋",
          describe: '嘉兴中企视图软件科技有限公司CEO',
          lista: ["电子商务", "嘉兴市"],
          introduce: "成立于2017年为中小型企业提供IT工具服务包含：1688商学院，“小吸盘”整个营销系统（官网，搜索引擎推广，智能名片）"
        },
        {
          name: "黄剑锋",
          describe: '嘉兴中企视图软件科技有限公司CEO',
          lista: ["电子商务", "嘉兴市"],
          introduce: "成立于2017年为中小型企业提供IT工具服务包含：1688商学院，“小吸盘”整个营销系统（官网，搜索引擎推广，智能名片）"
        },
      ], columns: [
        "旅游旅行",
        "本地生活",
        "消费零售",
        "电子商务",
        "跨境贸易",
        "广告营销",
        "金融理财"
      ],
    }
  },
  mounted () { },
  methods: {
    isshows () {
      this.isshow = true;
    },
    particulars () {
      this.$router.push("/address_particulars")
    },
    confirm (valuel) {
      console.log(valuel);
      this.region[0] = valuel[0].name;
      this.isshow = false;
    },
    onConfirm (value) {
     console.log(value);
     
      this.Confirm[0] = value;
      this.showPicker = false;
    },
    complete () {
      this.showPicker = true;
    }
  },
}
</script>
