<style lang="less">
@import "../static/less/style.less";
</style>
<template>
  <div id="app">
    <keep-alive>
      <router-view> </router-view>
    </keep-alive> 
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>
